<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="UsersQuery" value="SELECT * FROM Users" />
		<add key="TransactionsQuery" value="SELECT * FROM Transactions" />
		<add key ="UsersTable" value="Users"/>
		<add key ="TransactionsTable" value="Transactions"/>
	
	</appSettings>
</configuration>